$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'tb': 'screen and (min-width: 600px)',
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$white: #FEFAF6;

$acc1: #f7f1e9;
$acc1-2: #efeeec;
$acc2: #EADBC8;
$acc3: #DAC0A3;
$acc4: #102C57;

* {
    margin: 0 auto;
    max-width: 1360px;
}
body{
    font-family: 'Noto Sans JP',sans-serif;
    background: $white;
}

#auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Albert Sans', sans-serif;
    

    .auth_box {
        background: #fff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
        width: 100%;
        max-width: 400px;
        text-align: center;

        h2{
            margin-bottom:15px;
        }

        .auth-copyright{
            font-size:12px;
            position: fixed;
            bottom:30px;
            left:50%;
            transform: translateX(-50%);
            color:#a8a8a8;
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 2px solid $acc1;
            border-radius: 10px;
            font-size: 16px;
            font-family: 'Albert Sans';

            &:focus {
                border-color: $acc4;
                outline: none;
            }
        }

        button {
            width: 100%;
            padding: 12px;
            background: $acc4;
            color: #fff;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            transition: .3s;

            &:hover {
                opacity: 0.9;
            }
        }

        #auth-toggle {
            margin-top: 20px;
            font-size: 13px;
            color: $acc4;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


header{
    line-height: 100px;
    padding: 0 5%;
    .hedaer_logo{
        position: relative;
        z-index: -1;
        @include mq(sm) {
            line-height:75px;
            }
        h1{
            font-size: 22px;
            font-weight: 500;
            display:inline-block;
            margin-left:60px;
            font-family: 'Albert Sans', sans-serif;
            @include mq(sm){
                margin-left:45px;
                font-size: 20px;
            }
        }
        .logo_img{
            width: 45px;
            height:45px;
                @include mq(sm) {
                width: 35px;
                height: 35px;
            }
            display:inline-block;
            position: absolute;
            top:47.5%;
            left:0;
            transform: translateY(-50%);
            img{
                width: 100%;
                height:100%;
            }
        }
    }
    p{
        margin-left:5%;
        letter-spacing: 0.05rem;
        font-size:1.1rem;
        span{
            color:$acc1;
            padding-left:1rem;
            font-size: 0.94rem;
        }
    }
    .header__navlist{
        list-style: none;
        text-align: right;
        margin:-100px 0 0 0 ;
        letter-spacing: 0.05rem;

        li{
            display:inline;
            margin-left:2%;
            a{
                text-decoration: none;
                color:#000;
                padding: 5px 0;
                &:visited{
                    color:#000;
                }
                &:hover{
                    border-bottom: $acc3 solid 2px ;
                }
            }
        }
    }
    @include mq(sm) {
        .header__navlist{
            display:none;
        }
    }
    .sm_header_navlist{
        display:flex;
        margin-top:0px;
        .sm_navlist_item{
            flex:1;
            font-size:13px;
            &.center{
                border-left: solid 3px $acc1;
                border-right: solid 3px $acc1;
            }

            
            text-align: center;
            line-height: 40px;
            a{
                text-decoration: none;
                color:#000;
                &:visited{
                    color:#000;
                }
                &:hover{
                    border-bottom: $acc3 solid 2px ;
                }
            }
        }        
    }
    @include mq(tb) {
        .sm_header_navlist{
            display:none;
        }
    }

}
main{
    padding:0 5%;
    h2{
        font-weight: 500;
        margin-bottom:25px;
        font-size:20px;
    }
    section{
        margin:30px 0 90px;
    }
    .year_select_wrapper{
        padding-bottom:15px;
        margin-bottom:15px;
        border-bottom: solid 2px $acc1;
        button{
            border: solid 2px $acc1;
            padding:5px;
            border-radius: 10px;
            font-size:20px;
            transition: .2s;
            &:hover{
                background-color: $acc4;
                border-color: $acc4;
                color: #fff;
            }
        }
        #display-year{
            font-family: 'Albert Sans', sans-serif;
            margin: 0 15px;
            font-weight: 600;
        }
        #next-year::before{
            content:'\e315';
            font-family: 'Material Icons';
        }
        #prev-year::before{
            content:'\e314';
            font-family: 'Material Icons';
        }
    }
    .month_select_wrapper{
        display: flex;
        overflow-x: auto; // 横に溢れたらスクロールさせる
        white-space: nowrap; // 改行させない
        gap:10px;
        margin-bottom:15px;
        &::-webkit-scrollbar {
            display: none;
        }
        button{
            padding: 10px 20px;
            border: 2px solid $acc1;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            color: $acc4;
            text-align: center;
            flex-shrink: 0;
            &:hover{
                border : 2px solid $acc3;
                font-weight: 500;
            }
            &:active, &.active{
                background-color: $acc4;
                border-color: $acc4;
                color: #fff;
                font-weight: 500;
            }
        }
    }
    .smm_grid_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 155px 155px 155px;
        gap:20px;
        @include mq(sm) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 160px 160px 500px;
        }

        .grid_inner{
            background:$acc1 ;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            padding:15px;
            position: relative;
            .grid_yen{
                font-family: 'Albert Sans', sans-serif;
                font-size:35px;
                @include mq(sm) {
                    font-size:25px;
                }
                top:50%;
                margin:10px 0 10px 0;
                letter-spacing: -0.05rem;
                &::before{
                    content: '\0a5';
                    font-size: 28px;
                    padding-right: 5px;
                }

            }
            #carry-over-display{
                font-size:13px;
                border: solid 1px $acc2;
                padding:10px;
                border-radius: 5px;
                color:#686868;
            }
            .line{
                display: block;
                width: 100%;
                height: 1px;
                background: $acc2;
                margin: 12px 0 15px 0;
            }
            .grid_inner-flex_wrapper{
                display:flex;
                margin-bottom:3px;
                font-size:13px;
                .grid_inner-flex_wrapper{
                    flex:1;
                    p{
                        font-family: 'Albert Sans', sans-serif;
                    }
                }
            }
            .chart{
                flex: 1;            /* 追加：親の余った高さをすべて使う */
                width: 100% !important; /* 重要：px指定を消して100%に */
                height: 100% !important;
                position: relative;
                padding: 20px 0;
                &.line-chart{
                    width: 100% !important;
                    height: 100% !important;
                }
                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
            &.amount{
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }
            &.s2{
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }
            &.s3{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            &.s4{
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
            &.graph{
                grid-column: 3 / 5;
                grid-row: 1 / 4;
                display: flex;
                /* 追加：中身を縦に並べる */
                flex-direction: column;
                @include mq(sm){
                    grid-column: 1 / 3;
                    grid-row: 4 / 5;
                }
            }

        }
    }

    form{
        margin:50px 0;
        .form_group{
            margin: 15px 0;
            display:flex;
            position: relative;
            input, textarea, .radio_wrapper, select{
                flex: 1;
                line-height:2;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            input, textarea, select{
                border-bottom: solid 2px $acc1;
            }
            label{
                flex: 0.5;
                line-height:2;
            }
            .req::after{
                content:"*";
                color:#d95252;
            }
            .yen_char{
                position: absolute;
                right: 2.5px;
                top:50%;
                transform: translateY(-50%);
                font-size:14px;
            }
            .category::after{
                content:'\e313';
                font-family: "Material Icons";
                position: absolute;
                color:#000;
                font-size:20px;
                right:0px;
                top: 50%;
                transform: translateY(-50%);

            }

            .radio_wrapper {
                margin-bottom: 10px;

                label {
                    // 非アクティブ（通常時）のスタイル
                    padding: 5px 20px;
                    border: 2px solid $acc1;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    color: $acc4;
                    &:hover{
                        border: 2px solid $acc3;
                    }
                }

                // アクティブ（チェックされた時）のスタイル
                // 「チェックされたinputのすぐ隣にあるlabel」を指す
                input[type="radio"]:checked+label {
                    background-color: $acc4; // 好きな色に
                    border-color: $acc4;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
        .submit_btn{
            padding: 15px 30px;
            border: 2px solid $acc1;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            color: $acc4;
            &:hover{
                background-color: $acc4; // 好きな色に
                border-color: $acc4;
                color: #fff;
                font-weight: 500;
            }
        }
    }

.table-wrapper {
    overflow-x: auto; // 横に溢れたらスクロールさせる
    white-space: nowrap; // 改行させない
}

#transaction-table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    /* 枠線を1本にまとめる */
    font-size: 14px;
    th{
        background-color: $acc2;
        text-align: left;
        padding:15px;
        border-bottom: 1px solid $acc2;
        font-weight: 500;
        position: relative;
        .filter_wrapper::after{
            content:'\e313';
            font-family: "Material Icons";
            top:50%;
            transform: translateY(-50%);
            font-size:20px;
            position: absolute;

        }
    }
    td{
        padding: 10px 15px;
        border-bottom: 1px solid $acc1;
    }
    tr{
        &:hover{
            background-color: $acc1;
        }
        &.is-day-start{
            td{
                border-top:solid 2px $acc2;
                
            }
        }
    }
    tbody{
        font-family: 'Albert Sans', 'Noto Sans JP', sans-serif;
    }
}

.daily-total-row {
    background-color: $acc1-2; 

    td {
        padding: 8px 12px;
    }
}

.history-item {
    display: flex;
    justify-content: space-between;
    /* 内容とボタンを左右に分ける */
    align-items: center;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: #d93d3d;
}



}
footer{
    margin: 0 5%;
    position: relative;

    .copyright{
        font-size:13px;
        line-height: 100px;
        color:#a8a8a8;
        font-family: 'Albert Sans', sans-serif;
    }
    .message{
        font-size:7px;
        color:#f0f0f0;
        margin-top:-35px;
        margin-right:130px;
        @include mq(sm) {
            display:none;

        }

    }
    #logout-btn{
        padding:10px 15px;
        border: solid 2px $acc1;
        color:#a8a8a8 ;
        border-radius: 7px;
        text-align: right;
        position: absolute;
        right:0;
        top:80%;
        transform: translateY(-50%);
        font-size: 14px;
        transition: .2s;
        &:hover{
            background-color: $acc4;
            border-color: $acc4;
            color: #fff;
            font-weight: 500;
        }
        @include mq(sm) {
            top:50%;
            
        }
    }
    a{
        position: absolute;
        top:80%;
        transform: translateY(-50%);
        right:120px;
        font-family: 'Albert Sans', sans-serif;
        color: #a8a8a8;
        &:hover{
            color:$acc4;
        }
        @include mq(sm) {
            top:50%;
            
        }
    }
}